{% extends 'sbadmin.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Dashboard</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>
			<div d-flex>
				<div class="row">
					<div class="col-xl-3 col-md-6">
						<div class="card bg-primary text-white mb-4">
							<div class="card-body">Catégories</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="{{ path('admin_category_index') }}">Voir le detail</a>
								<div class="small text-white">
									<i class="fas fa-angle-right"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-warning text-white mb-4">
							<div class="card-body">Articles</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="{{ path('admin_post_index') }}">Voir le detail</a>
								<div class="small text-white">
									<i class="fas fa-angle-right"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-success text-white mb-4">
							<div class="card-body">Commentaires</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="{{ path('admin_comment_index') }}">Voir le detail</a>
								<div class="small text-white">
									<i class="fas fa-angle-right"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-danger text-white mb-4">
							<div class="card-body">Message contact</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="{{ path('admin_contact_index') }}">Voir le detail</a>
								<div class="small text-white">
									<i class="fas fa-angle-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i>
				Derniers articles
			</div>
			<div class="card-body">
				<table id="datatablesSimple">
					<thead>
						<tr>
							<th>N°</th>
							<th>Titre</th>
							<th>Date</th>
							<th>Actif</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>N°</th>
							<th>Titre</th>
							<th>Date</th>
							<th>Actif</th>
							<th></th>
							<th></th>
						</tr>
					</tfoot>
					<tbody>

						{% for post in posts %}

							<tr>
								<td>{{ post.id }}</td>
								<td>{{ post.title }}</td>
								<td>{{ post.createdAt | date }}</td>
								<td>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" name="active" id="customSwitch{{ post.id }}" data-id="{{ post.id }}" {{ post.active ? 'checked' : null}}>
									</div>
								</td>
								<td>
									<a href="{{ path('admin_post_update', {id: post.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
									<a href="{{ path('admin_post_delete', {id: post.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Suppression ?')">Supprimer</a>
								</td>

							</tr>

						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div></main>{% endblock %}{% block js_end %}<script src="{{ asset('sbadmin/assets/demo/chart-area-demo.js') }}"></script><script src="{{ asset('sbadmin/assets/demo/chart-bar-demo.js') }}"></script>{% endblock %}
