{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Xinchao Vietnam{% endblock %}

{% block subtitleh %}toute l'actualité du Vietnam{% endblock %}

{% block body %}
<!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-8 col-lg-8 col-xl-7">
            
                {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview post-content">
                        <a href ="{{ path('post_view', {slug: post.slug}) }}" style="text-decoration: none; color: #3E5902;">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <img src="{{ post.image }}" alt="">
                            <h3 class="post-subtitle">{{ post.content | u.truncate(250, '...') | raw }}</h3>
                        </a>
                        <p class="post-meta">
                            Rédigé par {{post.user.email}}</a>
                           - Publié {{post.createdAt | date | ago}}
                           - Classé dans <a href="{{ path('app_category', {slug: post.category.slug}) }}">{{ post.category.name }} </a>
                        </p>
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />

                {% endfor %}    

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Ancien commentaires →</a></div>


                </div>

                

            </div>
        </div>
{% endblock %}