{% extends 'sbadmin.html.twig' %}

{% block title %}Liste des messages de contact
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">

			<h1>
				Liste des messages de contact
			</h1>

			{# {{ dump(categories) }} #}

			<div class="card mb-4">
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr>
								<th>N°</th>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Email</th>
								<th>Date</th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>N°</th>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Email</th>
								<th>Date</th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>

							{% for contact in contacts %}

								<tr>
									<td>{{ contact.id }}</td>
									<td>{{ contact.nom }}</td>
                                    <td>{{ contact.prenom }}</td>
                                    <td>{{ contact.mail }}</td>
									<td>{{ contact.createdAt | date }}</td>
									
									<td>				
										<a href="{{ path('admin_contact_delete', {id: contact.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Suppression ?')">Supprimer</a>
									</td>

                                    <td>				
										<a href="{{ path('admin_contact_read', {id: contact.id}) }}" class="btn btn-primary btn-sm">Lire</a>
									</td>
									    </tr>

							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>


		</div>
	</main>
        <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer un article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>

    <script>
         window.onload = () => {

		let activate = document.querySelectorAll("[type=checkbox]")
        	for(let button of activate) {
                button.addEventListener("click", function(){
                    let xmlhttp = new XMLHttpRequest
                    xmlhttp.open("get", `/admin/post/activate/${this.dataset.id}`)
                    xmlhttp.send() 
                })
            }

        let btdeletes = document.querySelectorAll(".modal-trigger")
    for(let btdelete of btdeletes) {
        btdelete.addEventListener("click", function(){
            document.querySelector(".modal-footer a").href=`/admin/post/delete/${this.dataset.id}`
            document.querySelector(".modal-body").innerText = `Etes-vous sûr de vouloir supprimer cet article "${this.dataset.title}"`
        })
    }
    }</script>
{% endblock %}